.body {
  background-color: rgb(105, 98, 98);


}
#jumbo {
  background-color: #30373b;
  
  background-image: url('covidimg.jpg');
  background-size: cover;


}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.table-dark {
  padding: 5%;
}
.links{
  font-size: 30px;
  color: aliceblue;
}
.links:hover{
  color:#364F6D;
}